<div class="container">
  <h1 class="text-center">Famous Cocktails</h1>
  <div>
    <%= link_to 'Add Cocktail', new_cocktail_path %>
  </div>
  <ul class="mt-3">
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= link_to cocktail_path(cocktail) do %>
          <p><%= cocktail.name %></p> 
        <% end %>
      </li>
    <% end %>
  </ul>

</div>